img {
    width: 200px;
    height: 200px;
    margin: 15px 15px 15px 15px
}

body {
    background-image: url("../images/background.png")
}

#gifDiv {
    align-content: center
}

#info-total {
    margin-left: 10px;
    margin-right: 10px
}